<link href="css/cite.css" rel="stylesheet" />
@page "/"


<PageTitle>Bluff</PageTitle>
<svg id="background">
    <g id="hexGrid"></g>
    @* <g id="bet"></g> *@
</svg>

<img src="images/logo.jpg" id="logo"/>


@*Блок для выбора правил*@
<div class="bottom choice ruls"></div>
<div class="top choice ruls" @onclick="() => ruleOrServers = true">
    <p>Правила</p>
</div>

@* Блок для выбора серверов *@
<div class="bottom choice servers"></div>
<div class="top choice servers" @onclick="() => ruleOrServers = false">
    <p>Сервера</p>
</div>

<div class="fon">
    @if (ruleOrServers)
    {
        <Rules />
    }
    else
    {
        <ServerList />
    }
</div>


@code{
    bool ruleOrServers = true;
}

<script src="js/background.js"></script>