<link href="css/cite.css" rel="stylesheet" />
@page "/"


<PageTitle>Bluff</PageTitle>
<svg id="background">
    <g id="hexGrid"></g>
    @* <g id="bet"></g> *@
</svg>
@*Блок для выбора правил*@
<div style="width: 150px; height: 150px; border: 2px solid black;" @onclick="() => ruleOrServers = true">
    <p>Правила</p>
</div>

@* Блок для выбора серверов *@
<div style="width: 150px; height: 150px; border: 2px solid black;" @onclick="() => ruleOrServers = false">
    <p>Сервера</p>
</div>

@if(ruleOrServers)
{
    <Rules />
}
else
{
    <ServerList />
}

@code{
    bool ruleOrServers = true;

    
}

<script src="js/background.js"></script>