body {
  margin: 0;
}

#background{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
}

#logo {
    position: absolute;
    top: 15vh;
}

.fon {
    position: absolute;
    background-color: #333333;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 100vh;
    box-shadow: 0 0 50px 6px black;
    z-index: 2;
}

pre {
    width: 600px;
    font-size: 14px;
    margin: 100px 100px;
    color: #d0e3f7;
}
.bottom {
    box-shadow: 0 0 50px 8px black;
    z-index: 0;
}
.top {
    z-index: 4;
}

.choice {
    position: absolute;
    display: flex;
    background-color: #333333;
    height: 50px;
    width: 200px;
    right: 46vw;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    /*justify-content: ;*/
    align-items: center;
    cursor: pointer;
}

.ruls {
    top: 15vh;
}

.servers {
    top: 75vh;
}

p {
    color: #d0e3f7;
    font-size: 20px;
    margin: 0 20px;
}

